

<ion-content [fullscreen]="true">

    <ion-row>
      <div class="green_strip">  
      
      </div>
    </ion-row>
    <ion-row size="12">
      <ion-col>
        <div class="signin_heading">
          <h3>SIGN-IN</h3>
        </div>
          <div class="signin_div">
            <p class="margin_0">ENTER USERNAME</p>
            <ion-item>           
              <ion-input></ion-input>
            </ion-item>
          </div>
          <div class="signin_div">
            <p class="margin_0">PASSWORD</p>
            <ion-item>           
              <ion-input></ion-input>
            </ion-item>
          </div>
          <div class="signin_div">
            <div>
              <ion-button size="small" (click)="navigateToDashboard()"><p class="margin_0">LOGIN</p></ion-button>
              <p class="color_primary">Forgot Password</p>
            </div>         
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src="./assets/login_page_img.svg"></ion-img>
      </ion-col>
    </ion-row>
  
</ion-content>
