<app-menu-component></app-menu-component>
<ion-content>
 
  <!DOCTYPE html>
<html>
<head>
    <title>Employee Dashboard</title>
    
</head>
<body>
    <div class="container">
        <div class="employee-details">
          
            <div>Designation: RSM</div>
            <div>Reporting Manager: Arpav Maniar</div>
            
            </div>
        <div class="heading">
            Statistics for the Month of August 2024
        </div>
        <div class="statistics">
            <table>
    <thead>
        <tr>
            <th>Metric</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Leave Taken</td>
            <td>3</td>
        </tr>
        </tbody>
</table>
        </div>
    </div>
</body>
</html>
  
  </ion-content>