


<ion-content [fullscreen]="true">
  <app-menu-component></app-menu-component>
  <div class="inner_content_div">
    <div class="notification_alert"><h3>You have 1 Leave Notification</h3></div>
 <div class="leave_outer_border">
  <ion-row class="leavebox_inner_pdng">
    <div class="leave_title"><p>Leave</p></div>
    <ion-col size="6">
       <div>
        <p>Designation: <span>RSM</span></p>
        <p>Emp DOJ: <span>21-11-2021</span></p>
        <p>PF Account No: <span></span></p>
        <p>HQ: <span>Indore</span></p>
       </div>
    </ion-col>
    <ion-col size="6">
      <div>
       <p>To Report: <span>Arpav Maniar</span></p>
       <p>Zone: <span>west</span></p>
       <p>UAN Number: <span></span></p>
      
      </div>
   </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="padding_bottom">
      <div class="leave_heading_stats">
        <p class="margin_0">STATISTICS FOR THE YEAR OF 2024</p>
      </div>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="leavebox_inner_pdng">
    <ion-col size="3">
      <div class="leave_box_div">
        <div class="red_border"><p>11</p></div>
        <div><p>Total National Leaves</p></div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="leave_box_div">
        <div class="red_border"><p>11</p></div>
        <div><p>Total Sick Leaves</p></div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="leave_box_div">
        <div class="red_border"><p>11</p></div>
        <div><p>Total Casual Leaves</p></div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="leave_box_div">
        <div class="red_border"><p>11</p></div>
        <div ><p>Total Privilege Leaves</p></div>
      </div>
    </ion-col>
  </ion-row> -->
  <!-- <ion-row class="leavebox_inner_pdng">
    <ion-col size="3">
      <div class="leave_box_div">
        <div class="red_border"><p>11</p></div>
        <div><p>National Leaves taken</p></div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="leave_box_div">
        <div class="red_border"><p>11</p></div>
        <div><p>Sick Leaves taken</p></div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="leave_box_div">
        <div class="red_border"><p>11</p></div>
        <div><p>Casual Leaves taken</p></div>
      </div>
    </ion-col>
    <ion-col size="3">
      <div class="leave_box_div">
        <div class="red_border"><p>11</p></div>
        <div ><p> Privilege Leaves taken</p></div>
      </div>
    </ion-col>
  </ion-row> -->
   <div class="outer_div_leave">
      <ion-row>
        <ion-col size="6">
          <div class="card text-white bg-primary h-100">
            <div class="card-body">
              <h5 class="card-title">Total National Leaves</h5>
              <p class="card-text display-4">5</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card text-white bg-primary h-100">
            <div class="card-body">
              <h5 class="card-title">National Leave Taken</h5>
              <p class="card-text display-4">2</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="card text-white bg-primary h-100">
            <div class="card-body">
              <h5 class="card-title">Total Casual Leaves</h5>
              <p class="card-text display-4">3</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card text-white bg-primary h-100">
            <div class="card-body">
              <h5 class="card-title">Casual Leave Taken</h5>
              <p class="card-text display-4">3</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="card text-white bg-primary h-100">
            <div class="card-body">
              <h5 class="card-title">Total Sick Leaves</h5>
              <p class="card-text display-4">5</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card text-white bg-primary h-100">
            <div class="card-body">
              <h5 class="card-title">Sick Leave Taken</h5>
              <p class="card-text display-4">1</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="card text-white bg-primary h-100">
            <div class="card-body">
              <h5 class="card-title">Total Privilege Leaves</h5>
              <p class="card-text display-4">5</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card text-white bg-primary h-100">
            <div class="card-body">
              <h5 class="card-title">Privilege Leave Taken</h5>
              <p class="card-text display-4">4</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
   </div>
 </div>
 <ion-row>
  <ion-col>
    <div class="plan_leave"><h3>Plan Your Leave</h3></div>  
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="leave_type_dropdown">
    <div class="inner_leave_dd_border">
      <div>
        <label class="label_leave">Leave Type</label>     
      </div>
      <ion-item>
        <ion-select placeholder="Select Leave Type">
          <ion-select-option value="apple">Sick Leave</ion-select-option>
          <ion-select-option value="banana">Casusal Leave</ion-select-option>
          <ion-select-option value="orange">Privilege Leave</ion-select-option>
        </ion-select>
      </ion-item>
    </div>   
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="leave_type_dropdown">
    <div class="inner_leave_dd_border">
      <div>
        <label class="label_leave">Select Start Date</label>     
      </div>
     <ion-input class="calender_input" type="date"></ion-input>
    </div>   
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="leave_type_dropdown">
    <div class="inner_leave_dd_border">
      <div>
        <label class="label_leave">Select End Date</label>     
      </div>
     <ion-input class="calender_input" type="date"></ion-input>
    </div>   
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="leave_type_dropdown">
    <div class="inner_leave_dd_border">
      <div>
        <label class="label_leave">Remark</label>     
      </div>
      <ion-item>
        <div class="remarks">
          <ion-input placeholder="Remark"></ion-input>
        </div>
      </ion-item>
    </div>   
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <div class="submit_btn_leave">
        <ion-button size="small">Submit</ion-button>
      </div>
  </ion-col>
</ion-row>
</div>
</ion-content>
