<ion-content [fullscreen]="true">

     <app-menu-component></app-menu-component>
     <div class="inner_content_div">
      <div class="notification_alert"><h3>You have 1 Leave Notification</h3></div>
   <div class="leave_outer_border">
    <ion-row class="leavebox_inner_pdng">
      <div class="leave_title"><p>Leave</p></div>
      <ion-col size="6">
         <div>
          <p>Designation: <span>RSM</span></p>
          <p>Emp DOJ: <span>21-11-2021</span></p>
          <p>PF Account No: <span></span></p>
          <p>HQ: <span>Indore</span></p>
         </div>
      </ion-col>
      <ion-col size="6">
        <div>
         <p>To Report: <span>Arpav Maniar</span></p>
         <p>Zone: <span>west</span></p>
         <p>UAN Number: <span></span></p>
        
        </div>
     </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="padding_bottom">
        <div class="leave_heading_stats">
          <p class="margin_0">STATISTICS FOR THE YEAR OF 2024</p>
        </div>
      </ion-col>
    </ion-row>
  
  
   </div>
   <ion-row>
    <ion-col>
      <div class="plan_leave"><h3>Plan Your Trip</h3></div>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="leave_type_dropdown">
      <div class="inner_leave_dd_border">
        <div>
          <label class="label_leave">Select Start Date</label>     
        </div>
       <ion-input class="calender_input" type="date"></ion-input>
      </div>   
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="leave_type_dropdown">
      <div class="inner_leave_dd_border">
        <div>
          <label class="label_leave">Trip Type</label>     
        </div>
        <ion-item>
          <ion-select placeholder="Select Trip Type">
            <ion-select-option value="apple">HQ</ion-select-option>
            <ion-select-option value="banana">ExStn</ion-select-option>
            <ion-select-option value="orange">Overnight stay Trip</ion-select-option>
          </ion-select>
        </ion-item>
      </div>   
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="leave_type_dropdown">
      <div class="inner_leave_dd_border">
        <div>
          <label class="label_leave">Start city</label>     
        </div>
        <ion-item>
          <ion-select placeholder="Start city">
            <ion-select-option value="Delhi">Delhi,Delhi</ion-select-option>
            <ion-select-option value="Mumbai">Mumbai, Maharashtra</ion-select-option>
            <ion-select-option value="Kolkata">Kolkata,West Bengal</ion-select-option>
          </ion-select>
        </ion-item>
      </div>   
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="leave_type_dropdown">
      <div class="inner_leave_dd_border">
        <div>
          <label class="label_leave">To City</label>     
        </div>
        <ion-item>
          <ion-select placeholder="To City">
            <ion-select-option value="Delhi">Delhi,Delhi</ion-select-option>
            <ion-select-option value="Mumbai">Mumbai, Maharashtra</ion-select-option>
            <ion-select-option value="Kolkata">Kolkata,West Bengal</ion-select-option>
          </ion-select>
        </ion-item>
      </div>   
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="leave_type_dropdown">
      <div class="inner_leave_dd_border">
        <div>
          <label class="label_leave">Distance</label>     
        </div>
        <ion-item> 
          <div class="remarks">
            <ion-input disabled="true" placeholder="Distance"></ion-input>
          </div>
        </ion-item>
      </div>   
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="leave_type_dropdown">
      <div class="inner_leave_dd_border">
        <div>
          <label class="label_leave">Daily Allowances</label>     
        </div>
        <ion-item> 
          <div class="remarks">
            <ion-input disabled="true" placeholder="Allowances"></ion-input>
          </div>
        </ion-item>
      </div>   
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="leave_type_dropdown">
      <div class="inner_leave_dd_border">
        <div>
          <label class="label_leave">Mode Of Travel</label>     
        </div>
        <ion-item>
          <ion-select placeholder="To City">
            <ion-select-option value="Delhi">Bike</ion-select-option>
            <ion-select-option value="Mumbai">Bus</ion-select-option>
            <ion-select-option value="Kolkata">Train</ion-select-option>
          </ion-select>
        </ion-item>
      </div>   
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="leave_type_dropdown">
      <div class="inner_leave_dd_border">
        <div>
          <!-- <label class="label_leave">Distance</label>    -->
          <ion-checkbox [(ngModel)]="isChecked" labelPlacement="end">Fill Remarks If Joint Working</ion-checkbox> 
        </div>
        <ion-item *ngIf="isChecked" class="fillremarkinput"> 
          <div class="remarks">
            <ion-input placeholder="Please Mention Your Joint Working Employee Name"></ion-input>
          </div>
        </ion-item>
      </div>   
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="leave_type_dropdown">
      <div class="inner_leave_dd_border">
        <div>
          <label class="label_leave">Select End Date</label>     
        </div>
       <ion-input class="calender_input" type="date"></ion-input>
      </div>   
    </ion-col>
  </ion-row>
 
  <ion-row>
    <ion-col>
        <div class="submit_btn_leave">
          <ion-button size="small">Submit</ion-button>
        </div>
    </ion-col>
  </ion-row>
  </div>  

</ion-content>
