<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Coworker-travel-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Coworker-travel-details</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->



<ion-content [fullscreen]="true">
  <app-menu-component></app-menu-component>
  <div class="inner_content_div">
    <div class="notification_alert">
      <h3>You have 1 Leave Notification</h3>
    </div>
 

<ion-row>
  <ion-col class="leave_type_dropdown">
    <div class="inner_leave_dd_border">
      <div>
        <label class="label_leave">Select Start Date</label>     
      </div>
     <ion-input class="calender_input" type="date"></ion-input>
    </div>   
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="leave_type_dropdown">
    <div class="inner_leave_dd_border">
      <div>
        <label class="label_leave">Select End Date</label>     
      </div>
     <ion-input class="calender_input" type="date"></ion-input>
    </div>   
  </ion-col>
</ion-row>
<!-- <ion-row>
  <ion-col class="leave_type_dropdown">
    <div class="inner_leave_dd_border">
      <div>
        <label class="label_leave">Employee</label>     
      </div>
      <ion-item>
        <ion-select placeholder="Select Empolyee">
          <ion-select-option value="apple">Nemeechand Sahu-961767233</ion-select-option>
          <ion-select-option value="banana">Kapil gurjar-9522266206</ion-select-option>
          <ion-select-option value="orange">Naresh Singh-7566011502</ion-select-option>
        </ion-select>
      </ion-item>
    </div>   
  </ion-col>
</ion-row> -->
<ion-row>
  <ion-col>
      <div class="submit_btn_leave">
        <ion-button size="small" (click)="navigateToMonthExpense()" >View</ion-button>
      </div>
  </ion-col>
</ion-row>

</div>
</ion-content>
