
<app-menu-component></app-menu-component>

<ion-content [fullscreen]="true" scrollX="true">
  <ion-row>
    <ion-col>
      <div class="travel_data_head theme_color"><h4 class="margin_0">Travel Details</h4></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="download_excel"><ion-button size="small" class="">Download Excel Sheet</ion-button></div>
    </ion-col>
  </ion-row>
  <ion-searchbar  placeholder="Search for data..."></ion-searchbar>
  <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Trip Type</th>
                <th>Allowance</th>
                <th>Start City</th>
                <th>To City</th>
                <th>Attendance</th>
                <th>Distance</th>
                <th>Mode of Travel</th>
                <th>Remarks</th>
                <th>View Full Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>01-08-2024</td>
                <td>01-08-2024</td>
                <td>C L emergency</td>
                <td>Data 5</td>
                <td>Data 6</td>
                <td>Data 7</td>
                <td>Absent</td>
                <td>Data 9</td>
                <td>Data 10</td>
                <td>Pending</td>
                <td>Data 12</td>
                <td>Data 12</td>
            </tr>
            <tr>
              <td>2</td>
              <td>01-08-2024</td>
              <td>01-08-2024</td>
              <td>C L emergency</td>
              <td>Data 5</td>
              <td>Data 6</td>
              <td>Data 7</td>
              <td>Present</td>
              <td>Data 9</td>
              <td>Data 10</td>
              <td>Full Details</td>
              <td>Data 12</td>
              <td>Data 12</td>
            </tr>
            <tr>
              <td>3</td>
              <td>01-08-2024</td>
              <td>01-08-2024</td>
              <td>C L emergency</td>
              <td>Data 5</td>
              <td>Data 6</td>
              <td>Data 7</td>
              <td>Present</td>
              <td>Data 9</td>
              <td>Data 10</td>
              <td>Full Details</td>
              <td>Data 12</td>
              <td>Data 12</td>
          </tr>
          
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
</ion-content>