
<app-menu-component></app-menu-component>

<ion-content [fullscreen]="true" scrollX="true">
  <ion-row>
    <ion-col>
      <div class="travel_data_head theme_color"><h4 class="margin_0">Leave Details</h4></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="download_excel"><ion-button size="small" class="">Download Excel Sheet</ion-button></div>
    </ion-col>
  </ion-row>
  <ion-searchbar  placeholder="Search for data..."></ion-searchbar>
  <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>Leave Type</th>
                <th>Start Date </th>
                <th>End Date</th>
                <th>Aproved/Canceled</th>
                <th>Leave Days</th>
                <th>Document</th>
                <th>Remark</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Privilege Leave</td>
                <td>17-04-2024</td>
                <td>17-04-2024</td>
                <td>Aproved</td>
                <td>1</td>
                <td>Nill</td>
                <td>PL</td>          
            </tr>
            <tr>
              <td>1</td>
              <td>Privilege Leave</td>
              <td>17-04-2024</td>
              <td>17-04-2024</td>
              <td>Aproved</td>
              <td>1</td>
              <td>Nill</td>
              <td>PL</td> 
              
            </tr>
            <tr>
              <td>1</td>
              <td>Privilege Leave</td>
              <td>17-04-2024</td>
              <td>17-04-2024</td>
              <td>Aproved</td>
              <td>1</td>
              <td>Nill</td>
              <td>PL</td> 
             
          </tr>
          
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
</ion-content>