


<ion-content [fullscreen]="true">
  <app-menu-component></app-menu-component>
  <!-- <div><ion-button >Get Current Location</ion-button></div> -->
  <div class="inner_content_div">
    <div class="notification_alert"><h3>You have 1 Leave Notification</h3></div>
    <div class="notification_alert" ><h3>{{locationName}}</h3></div>
 <div class="leave_outer_border">
  <ion-row class="leavebox_inner_pdng">
    <div class="leave_title"><p>DASHBOARD</p></div>
    <ion-col size="6">
       <div>
        <p>Designation: <span>RSM</span></p>
        <p>Emp DOJ: <span>21-11-2021</span></p>
        <p>PF Account No: <span></span></p>
        <p>HQ: <span>Indore</span></p>
       </div>
    </ion-col>
    <ion-col size="6">
      <div>
       <p>To Report: <span>Arpav Maniar</span></p>
       <p>Zone: <span>west</span></p>
       <p>UAN Number: <span></span></p>
      
      </div>
   </ion-col>
  </ion-row>
</div>
  <ion-row>
    <ion-col class="padding_bottom">
      <div class="leave_heading_stats">
        <p class="margin_0">STATISTICS FOR THE YEAR OF 2024</p>
      </div>
    </ion-col>
  </ion-row>

  <div class="container mt-6 padding_0">
   <ion-row>
    <ion-col size="6">
      <div class="card text-white bg-primary h-100">
        <div class="card-body">
          <h5 class="card-title">Leave Taken</h5>
          <p class="card-text display-4">5</p>
        </div>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="card text-white bg-primary h-100">
        <div class="card-body">
          <h5 class="card-title">Working Days</h5>
          <p class="card-text display-4">5</p>
        </div>
      </div>
    </ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="6">
      <div class="card text-white bg-primary h-100">
        <div class="card-body">
          <h5 class="card-title">Absent</h5>
          <p class="card-text display-4">5</p>
        </div>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="card text-white bg-primary h-100">
        <div class="card-body">
          <h5 class="card-title">National Leaves</h5>
          <p class="card-text display-4">5</p>
        </div>
      </div>
    </ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="12">
      <div class="card text-white bg-primary h-100">
        <div class="card-body">
          <h5 class="card-title">Coworker Yesterday Not Uploaded Doc</h5>
          <p class="card-text display-4">5</p>
        </div>
      </div>
    </ion-col>
   </ion-row>
    </div> 
  

 </div>


</ion-content>
