/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
@import 'bootstrap/scss/bootstrap';

ion-content{
    --background: #fff !important;
}
ion-menu{
    --background: #fff !important;
}
ion-toolbar{
    --background: #00807a;
}
ion-menu-button{
    color: #fff;
}
.list-ios {
    --background: #fff !important;
}
.margin_0{
    margin: 0;
}
.color_primary{
    color: #00807a;
}
.navbar_heading{
    color: white;
    font-weight: 400;

}
.nav_bell_icon ion-icon{
    font-size: 20px;
    position: relative;
    top: 3px;
    left: 12px;
}
.nav_outer_div{
    display: flex;
    float: inline-end;
    padding: 10px;
}
.nav_outer_div ion-badge{
    position: relative;
    top: -6px;
    right: 2px;
}
.menu_icons_div ion-icon{
    color: #006662 !important;
}
.menu_icons_div svg{
    color: #006662 !important;
    margin-right: 11px;

}
.hover_green_menu{
    color: #006662 !important;
    padding: 0px 13px;
    font-size: 14px;
    --inner-border-width: 0;
}

//   .hover_green_menu{
//     padding: 12px 24px !important;
//   }
.menu_inner_div:hover{
    // padding: 11px 13px;
    background: #46bbb3 !important;
    border-radius: 5px;
}
.menu_inner_div{
   padding: 12px;
}
.theme_color{
    color: #fff;
    background-color: #00807a;
}