
<app-menu-component></app-menu-component>
<ion-content [fullscreen]="true">
   <ion-row>
    <ion-col >
      <div >
       <div class="primary_bg support_padding">
         <h3>Current Trip:</h3>
        <p> It will always show yesterday’s trip. You can upload any additional expense documents in this field if required. You have to finish the trip otherwise you have marked absent. This is applicable for all type of trips (HQ,ExStn,Overnight, Multicity Same day & multicity overnight) <br> <br>
        For HQ: no document required (if there is any misc expenses you can attach the document in other Expenses only.) <br> <br>
        ExStn: within 250 km (both side) you have to attach Food bill or petrol Slip or Bus / Train Ticket as travel proof only You cannot fill amount in this case. Your claim will be per Kilometer and Exstn allowance as sanctioned.(if there is any misc expenses you can attach the document in other Expenses only). <br> <br>
        ExStn: above 250 km (both side) you have to attach food bill without amount as Exstn proof. You have to attach Bus / Train Ticket or petrol Slip as travel proof with actual amount. Your claim will be actual travel ticket amount and Exstn allowance as sanctioned.(if there is any misc expenses you can attach the document in other Expenses only.) <br> <br>
        Overnight: You have to attach food bill without amount as Exstn proof. You have to attach Petrol Slip with amount or Bus /Train Ticket with amount & Hotel Bill with amount. Your claim will be actual travel ticket amount; Outstation allowance and Hotel Bill as per sanction limit (inclusive outstation allowance as sanctioned). <br> <br>
        Multicity Same Day: same ax Ex Stn <br> <br>
        Multicity Overnight: same as overnight <br>
        <p>Mobile Allowance: You can feed the actual amount once in a month. You have to attached the bill.
        </p> <br>
        <h3>IF TRIP IS NOT FINISHED THAN ATTENDANCE WILL BE MARK AS ABSENT AUTOMATICALLY FOR THE DAY/PERIOD</h3>
       </div>
       <div class="primary_bg support_padding mt-3">
        <h3> If Anyone Select Multi City Overnight Stay trip Type than you have to upload the documents and finished the trip on next date:</h3> 
       <p>
        Example:Start date 01/02/2024 and finished date is 04/02/2024 than documents will be upload on 05/02/2024</p>
     
      </div>
      
      
    </div>
    </ion-col>
   </ion-row>
</ion-content>
